.page-container{
    position: relative;
}
.posts-display{
    position: absolute;
    left: 500px;
    top: 20px;
}
.user-suggest{
    width: 350px;
    position: absolute;
    right: 10px;
    top: 20px;

}
