.user-posts{

    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.user-profile-ring{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    padding: 2px;
    background: conic-gradient(
    from 0deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888,
    #e1306c,
    #fd1d1d
  );
  display: flex;
  align-items: center;
  justify-content: center;

}
.user-profile-img{
    width: 38px;
    height: 38px;
    padding: 2px;
    border-radius: 50%;
    background-size: cover;
    background: white;
}
.post-user-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.post-user-details-info p{
    font-size: 12px;
}
.follow-btn{
    color: rgb(52, 52, 152,0.5);
    font-size: 16px;
    outline: none;
    border: none;
}
.user-uploaded-post{
    margin-top: 4px;
    width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    
}
.user-uploaded-post img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    background-size: contain;
    display: block;
    border-radius: 10px;
}
.post-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0px 5px;
}
.action-logo{
    height: 30px;
    padding: 5px;
}
.post-comment{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.post-comment input{
    width: 100%;
    border: none;
    margin: 5px;
}
.post-comment input:focus{
    outline: none;
    font-size: 14px;
}
.post-btn{
    border: none;
    color: blue;
    background: none;
    font-size: 14px;
    padding: 5px;
}
.border{
    width: 100%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.user-details{
    display: flex;
    align-items: center;
    gap: 20px;
}
.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.post-actions-left,
.post-actions-right {
  display: flex;
  gap: 12px;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-button:hover{
  background: rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  padding: 0;
}
.action-logo {
  width: 40px;
  height: 40px;
}
.action-button p{
    color: black;
    font-size: 10px;
    font-weight: 500;
}